/* The following block can be included in a custom.scss */

/* make the customizations */
$theme-colors: (
  "primary": #ff6600,
  "secondary": #210d0d,
  "dark": #131921,
  "success": #198754,
  "info": #232E41,
  "warning": #fffb00,
  "danger": #dc3545,
  "light": #f8f9fa,
);

/* import bootstrap to set changes */
@import "../node_modules/bootstrap/scss/bootstrap.scss";

$primary-color: #ff6600;
$secondary-color: #210d0d;
$ternary-color: #F8F9FA;
$white-color: #ffffff;

@mixin book-reading-icon($background-col, $icon-color, $icon-background-color){
  .side-line {
      position: relative;
      &::before {
          position: absolute;
          left: 0;
          top: 50%;
          width: 100%;
          height: 1px;
          content: '';
          background-color: $background-col;
      }
      .line {
          position: relative;
          z-index: 1;
          display: inline-block;
          padding: 6px 20px;
          background-color: $icon-background-color;
          .fa-book-open-reader {
              color: $icon-color;
          }
      }
  }
}

// X-Small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)

@media (min-width: 576px) {
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {
}

#navbar {
  .nav-link {
    color: $secondary-color;
    font-weight: 600;
    padding: 1em 1em;
    &:hover {
      color: $primary-color;
    }
  }
}

#about {
  @include book-reading-icon($white-color, $white-color, $primary-color);
}

#courses {
  @include book-reading-icon($primary-color, $primary-color, $white-color);
}

#success-stories {
  @include book-reading-icon($primary-color, $primary-color, $ternary-color);
}

#gallery-second {
  @include book-reading-icon($primary-color, $primary-color, $ternary-color);
}

#gallery {
  @include book-reading-icon($primary-color, $primary-color, $ternary-color);
}

#contact {
  @include book-reading-icon($primary-color, $primary-color, $white-color);
}

